* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

body.color {
  background-color: #161d31;
  z-index: 999999999999;
  color: #b4b7bd;
}

body.color .childOne {
  background-color: #283046 !important;
}

body.color .childTwo .navbar {
  background-color: #283046 !important;
}

body.color .childTwo .range {
  background-color: #283046 !important;
}

body.color .childTwo .products .search {
  background-color: #283046 !important;
}

body.color .childTwo .products .product {
  background-color: #283046 !important;
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.parent .childOne {
  width: 260px;
  background-color: white;
  padding: 10px;
}

.parent .childOne a {
  font-size: 1.1rem;
}

.parent .childOne img {
  width: 15%;
}

.parent .childOne .brand {
  margin-bottom: 1rem;
}

.parent .childOne .brand .brandName {
  position: relative;
  top: -5px;
  font-family: 'Montserrat', sans-serif;
  color: #7367f0;
  font-weight: 600;
  font-size: 1.45rem;
}

.parent .childOne .arrow-up-down {
  -webkit-transition: 1s 3s !important;
  transition: 1s 3s !important;
}

.parent .childOne .arrow-up-down i {
  display: inline-block;
}

.parent .childOne .arrow-up-down.up {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-delay: 5s !important;
          transition-delay: 5s !important;
}

.parent .childOne .dropdown {
  -webkit-transition: 2s 3s !important;
  transition: 2s 3s !important;
  margin-bottom: 3rem;
  cursor: pointer;
  text-decoration: underline;
  color: #625f6e;
  list-style: none;
  text-decoration: none;
}

.parent .childOne .dropdown .notification {
  background-color: rgba(255, 159, 67, 0.12);
  border-radius: 50%;
  padding: 5px;
}

.parent .childOne .dropdown .notifyNo {
  color: #ff9f43;
  text-align: center;
}

.parent .childOne .dropdown .mother {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.parent .childOne .dropdown-list {
  display: none;
  -webkit-transition: 1s 2s !important;
  transition: 1s 2s !important;
}

.parent .childOne .dropdown-list li a {
  text-decoration: none !important;
  color: #625f6e;
}

.parent .childOne .dropdown-list.active {
  display: block;
  -webkit-transition: 2s 2s !important;
  transition: 2s 2s !important;
}

.parent .childOne .dev-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parent .childOne .pages {
  color: #a6a4b0;
  line-height: 1.5;
  font-family: Montserrat,Helvetica,Arial,serif;
  font-size: 13px;
}

.parent .childOne .sidenav ul {
  padding: 0;
}

.parent .childOne .sidenav ul li {
  list-style: none;
  padding: 10px;
  color: grey;
  /* background-color: #231b46; */
  word-spacing: 15px;
  cursor: pointer;
}

.parent .childOne .sidenav ul li:hover {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
  color: #63616d;
}

.parent .childTwo {
  width: 1089px;
  height: 100vh;
}

.parent .childTwo .container {
  margin: auto;
}

.parent .childTwo .lolo {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.parent .childTwo .lolo .filterList {
  width: 260px;
}

.parent .childTwo .lolo .hamed {
  width: 773px;
}

.parent .childTwo .lolo .hamed .products .search {
  width: 95%;
  margin: auto;
  padding: 15px;
  border: #7367F0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.39);
}

.parent .childTwo .lolo .hamed .products .search:focus {
  outline: none !important;
}

.parent .childTwo .range {
  margin: 10px;
  list-style: none;
  padding: 20px;
  line-height: 50px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #7367F0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.39);
}

.parent .childTwo .navbar {
  width: 85%;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: .3rem;
  padding-left: 2rem;
}

.parent .childTwo .navbar .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 2px !important;
}

.parent .childTwo .navbar .list a {
  color: #625f6e;
}

.parent .childTwo .navbar .list li {
  margin-right: 10px;
}

.parent .childTwo .navbar .listTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.parent .childTwo .navbar .listTwo a {
  color: #625f6e;
}

.parent .childTwo .navbar .listTwo li {
  margin-right: 10px;
}

.parent .childTwo .navbar .listTwo .elsora img {
  width: 50%;
  border-radius: 3rem;
  margin-left: 10px;
}

.parent .childTwo .navbar .text-warning {
  color: #ff9f43 !important;
}

.parent .childTwo .linee {
  color: gray;
  font-size: 1.5em;
}

.parent .childTwo .line-text {
  font-size: 1.5em;
  font-weight: 500;
  color: #636363;
  border-right: 1px solid #d6dce1;
  margin-right: 2px;
}

.parent .childTwo .shopText {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-spacing: 10px !important;
  margin-top: 0.8rem;
}

.parent .childTwo .shopText .feather {
  color: #4839eb;
  margin-left: 0.5rem;
}

.parent .childTwo .shopText .arrowIcon {
  color: #6e6b7b;
  font-size: 0.6rem;
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.parent .childTwo .shopText .line-text2 {
  color: #4839eb;
}

.parent .childTwo .btn {
  padding: 10px;
  background-color: transparent;
  border-radius: .3rem;
  border: 1px solid #7367f0 !important;
  margin-bottom: 2rem;
}

.parent .childTwo .brdr {
  border: 1px solid #7367f0 !important;
  padding: 10px;
  border-radius: .3rem;
}

.parent .childTwo .brdr .btnBrdr {
  border-right: 1px solid #4839eb;
  border-radius: 0;
  padding: 10px;
}

.parent .childTwo .gear {
  padding: 10px;
  background-color: #4839eb;
  border-radius: 0.5rem;
}

.parent .childTwo .filterButtons {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parent .childTwo .menu {
  cursor: pointer;
  display: none;
}

.parent .childTwo .displayProd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parent .childTwo .displayProd .product {
  width: 230px;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(7, 6, 6, 0.062);
          box-shadow: 0px 2px 2px 0px rgba(7, 6, 6, 0.062);
  padding: 10px;
  max-height: 600px;
  background-color: white;
}

.parent .childTwo .displayProd .product .soraa img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.parent .childTwo .displayProd .product .iconn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parent .childTwo .displayProd .product .iconn .rate {
  color: #e9ab00 !important;
}

.parent .childTwo .displayProd .product .wishlist button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #f6f6f6;
  border-color: #f6f6f6;
}

.parent .childTwo .displayProd .product .cart button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #7367f0;
  border-color: #7367f0;
}

@media only screen and (max-width: 768px) {
  .childOne {
    display: none;
  }
  .childTwo .navbar {
    display: none !important;
  }
  .childTwo .shopText {
    display: block !important;
  }
  .childTwo .filterButtons {
    display: block !important;
  }
  .childTwo .lolo .filterList {
    display: none;
  }
  .childTwo .lolo .filterList .range {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    margin: 0 !important;
    overflow: scroll;
    -webkit-transition: 2s 3s;
    transition: 2s 3s;
  }
  .childTwo .lolo .hamed {
    width: 100%;
  }
  .childTwo .lolo .hamed .menu {
    display: block;
  }
  .childTwo .lolo .hamed .result {
    display: none;
  }
  .childTwo .lolo .hamed .products .search {
    width: 60% !important;
    margin: auto;
  }
  .childTwo .lolo .hamed .displayProd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .childTwo .lolo .hamed .displayProd .product {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */